body {
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background-color: #070a10;
}

footer .container {
    display: flex;
    justify-content: center;
    width: 85vw;
    height: 45vh;
    margin-top: 25px;
    border-bottom: 1px solid #21252e;
    /* background-color: aqua; */
}

.container .items:first-child {
    margin-top: 50px;
    width: 450px;
}

.items p {
    color: white;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.icon i {
    padding: 10px;
}

.icon i:hover {
    transform: scale(0.9);
}

.items ul {
    list-style: none;
}

.items li {
    padding: 15px;
    font-size: 15px;
    color: white;
}

.items h3 {
    margin: 0;
    padding: 0;
    font-weight: 0;
}

.items li:first-child {
    text-decoration: none;
    color: #0172cc;
}

.container a {
    text-decoration: none;
    color: white;

}

.container-02 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 85vw;
    height: 35vh;
    margin-top: 25px;
    margin: 0;
    /* background-color: aqua; */
}

.items-2 {
    margin: 0 0 0 80px;
}

.items-2 h5 {
    color: white
}

.items-2 h1 {
    color: #b3b4bd;
    font-size: 38px;
}

.items-2 h3 {
    color: #bec0cc;
}

.items-2 .email {
    width: 450px;
    /* background-color: aliceblue; */
}

.items-2 input {
    padding: 12px;
    width: 320px;
    margin-right: 10px;
    background-color: #050a44;
    border: none;
    border-radius: 5px;
}

.items-2 input:focus {
    border: 4px solid rgb(249, 249, 249);
    /* border: none; */
}

input::placeholder {
    color: #9197a6;
}

.items-2 button {
    padding: 10px;
    border-radius: 5px;
    background-color: #6366f1;
    border: none;
    color: white;
}

.icons-1 {
    background-color: #050a44;
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.icons-1 i {
    margin: 12px 0 0 10px;
}

.items-2 h2,
p {
    color: white;
    font-size: 18px;
}